body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.header,
.marketing,
.footer {
	padding-right: 15px;
	padding-left: 15px;
}

.header {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 30px;
}
.navbar-default {
	background-color: #fff;
	border-color: none;
}
.navbar-collapse {
	padding: 0;
	margin: 0;
}
.header h3 {
	line-height: 40px;
}
.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.footer .copyright {
	float: left;
}

.footer .host {
	float: right;
}

@media (min-width: 768px) {
	.container {
		max-width: 730px;
	}
	.nav-pills {
		float: right;
	}
	.nav-pills>li {
		float: left;
	}
	.text-muted {
		padding-bottom: 19px;
		margin-top: 0;
		margin-bottom: 0;
	}
}

@media (max-width: 768px) {
	.nav-pills {
		float: none;
	}
	.nav-pills>li {
		float: none;
	}
	.navbar-nav {
		margin: 0;
	}
	.navbar-nav {
		padding-bottom: 15px;
	}
	.text-muted {
		margin: 8px 19px;
	}
	.footer {
		text-align: center;
	}
	.footer .copyright, .footer .host {
		float: none;
	}
	.form-group.login .btn {
		margin: 5px 0;
	}
}

.container-narrow > hr {
	margin: 30px 0;
}

.jumbotron {
	text-align: left;
	border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
	padding: 14px 24px;
	font-size: 21px;
}

.marketing {
	margin: 40px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}
.marketing .mini-box {
	padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
	.header,
	.marketing,
	.footer {
		padding-right: 0;
		padding-left: 0;
	}
	.jumbotron {
		border-bottom: 0;
	}
}

.text-muted a:hover{
	text-decoration: none;
}

/* custom */
.col-lg-6{
	margin-bottom: 35px;
}